body {
    padding-top: 5rem;
}

h1{
    font-size: large;
    font-weight: bold;
}
.formGroup{
    margin-bottom: 20px;
    border: 2px groove #1C1919;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 30px;
}

input, textarea{
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius:4px;
}

.button{
    width: 50%;
}