{% extends "base.html" %}
{% block main %}
    <h1>Properties</h1>
    <body class="propertyList">
        {% for property in properties %}
        <div class="propertyCard">
            <img src="{{url_for('uploaded_file', filename=property.photo)}}" alt="{{property.title}}">
            <h2>{{property.title}}</h2>
            <p class="location">{{property.location}}</p>
            <p class="price">${{"{:,.2f}".format(property.price)}}</p>
            <a href="{{url_for('specificProperty', propertyid=property.id)}}">
                <button class="viewProperty">View Property</button>
            </a>
        </div>
        {% endfor %}
    </body>
{% endblock %}